html {
  background-color: black;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  flex-direction: column;
}

.main-title {
  font-family: "Playfair Display", serif !important;
  font-weight: 900 !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;

  > * {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 5em;
    margin: -0.25em 0 -0 0;
    font-weight: bolder;
  }

  h2 {
    font-size: 2em;
    text-align: center;
    width: 100%;
    font-weight: 500;
    letter-spacing: 0.5em;
  }

  h3 {
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.25em;
    width: 100%;
  }
}

.reveal-anim {
  text-shadow: rgba(255,255,255,1) 0em 0em 4em;
}
